<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>MyBooksReview</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>

        <link rel="stylesheet" type="text/css"
              href="css/main.css"/>

    </head>

    <body>
        <div id="result"></div>

        <div id="add">
            <form id="addForm">
                <div id="formTitle">
                    <label class="addlabel">Title</label>
                    <input type="text" id="titleInput" name="titleInput" />
                </div>
                <div id="formDescription">
                    <label class="addlabel">Description</label>
                    <textarea class="descriptionArea" id="descriptionArea" name="descriptionArea"></textarea>
                </div>
                <div id="formRatings">
                    <label class="addlabel">Rating</label>
                    <input type="text" id="ratingInput" name="ratingInput" />
                </div>
                <div id="submitDiv">
                    <input type="submit" id="submitButton" name="submitButton" value="Submit" />
                </div>
            </form>
        </div>

        <script type="text/javascript"
                src="webjars/jquery/3.1.1-1/jquery.min.js"></script>

        <script type="text/javascript" src="js/main.js"></script>

    </body>

</html>