<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>MyBooksReview</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>

        <link rel="stylesheet" type="text/css"
              href="css/main.css"/>

    </head>

    <body>
        <div id="result"></div>

        <script type="text/javascript"
                src="webjars/jquery/3.1.1-1/jquery.min.js"></script>

        <script type="text/javascript" src="js/main.js"></script>

    </body>

</html>